/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  background-color: white;
  overflow: hidden;
  align-items: center;
}

.dark-mode .topnav {
  background-color: #121212;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 14px 16px;
}

.topnav button {
  background-color: white;
  border: none;
}

.dark-mode .topnav button {
  background-color: #121212;
  color: white;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #04aa6d;
  color: black;
}

.dark-mode .topnav a:hover {
  background-color: #04aa6d;
  color: black;
}

.dark-mode .topnav a {
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04aa6d;
  color: black;
}

.logo {
  font-size: 1.8rem !important;
  font-weight: 700 !important;
  color: #003366 !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  text-decoration: none !important;
  padding-right: 25px !important;
}

.topnav a.logo:hover {
  background-color: transparent !important;
  color: #003366 !important;
}

.dark-mode {
  background-color: #282828;
  color: white;
}

.dark-mode-toggle {
  margin-left: auto;
  margin-right: 20px; /* if you still want a little padding */
}

.flashes {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.flashes li {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  color: black;
}

/* Success flash */
.success {
  background-color: #4caf50; /* green */
}

/* Error flash */
.error {
  background-color: #f44336; /* red */
}

.success {
  background-color: #e0ffe0;
  border: 1px solid #a0d0a0;
}
.error {
  background-color: #ffe0e0;
  border: 1px solid #d0a0a0;
}

.warning {
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  color: #856404;
}
