<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}My App{% endblock %}</title>
    <script>
      // On page load, immediately apply dark mode if user previously enabled it
      document.addEventListener("DOMContentLoaded", () => {
        if (localStorage.getItem("darkMode") === "enabled") {
          document.body.classList.add("dark-mode");
        }
      });

      // Called when the user clicks the toggle button
      function switchBetweenDarkAndLightMode() {
        document.body.classList.toggle("dark-mode");
        if (document.body.classList.contains("dark-mode")) {
          localStorage.setItem("darkMode", "enabled");
        } else {
          localStorage.setItem("darkMode", "disabled");
        }
      }
    </script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='base.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://raw.githubusercontent.com/imadahmad97/imadahmad/refs/heads/master/myroot/hosted-links/linkarr_logo.png"
    />
    {% block styles %} {% endblock %}
  </head>
  <body>
    <div class="topnav">
      <a href="{{ url_for('base') }}" class="logo">Linkarr</a>
      <a
        href="{{ url_for('base') }}"
        class="{% if request.path == url_for('base') %}active{% endif %}"
        >Home</a
      >
      <a
        href="{{ url_for('config') }}"
        class="{% if request.path == url_for('config') %}active{% endif %}"
        >Config</a
      >
      <a href="https://github.com/imadahmad97/linkarr">GitHub</a>
      <a
        href="https://hub.docker.com/repository/docker/imadahmad97/linkarr/general"
        >Docker Hub</a
      >
      <button
        class="dark-mode-toggle"
        onclick="switchBetweenDarkAndLightMode()"
      >
        <div class="container">
          <div class="toggle-container" id="themeToggle">
            <svg
              class="sun-icon"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <circle cx="12" cy="12" r="5"></circle>
              <line x1="12" y1="1" x2="12" y2="3"></line>
              <line x1="12" y1="21" x2="12" y2="23"></line>
              <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
              <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
              <line x1="1" y1="12" x2="3" y2="12"></line>
              <line x1="21" y1="12" x2="23" y2="12"></line>
              <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
              <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
            </svg>
            <svg
              class="moon-icon"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
            </svg>
          </div>
        </div>
        <script src="script.js"></script>
      </button>
    </div>

    <div class="content">{% block content %} {% endblock %}</div>
  </body>
</html>
