{% extends "base.html" %}

{% block title %}
    Linkarr - Hardlink Files
{% endblock %}

{% block styles %}
<link
rel="stylesheet"
type="text/css"
href="{{ url_for('static', filename='file_selector.css') }}"
/>
<script>
    function setLinkType(type) {
      document.getElementById("link_type").value = type;
    }
  </script>
  
{% endblock %}

{% block content %}
    <h2>Select Source and Target Directories:</h2>
    <form action="" method="get">
        <label for="source_dir"><h3>Source Directory:</h3></label>
        <select name="selected_source_dir" id="source_dir" onchange="checkAndSubmit()">
            <option value="">-- Select Source Directory --</option>
            {% for dir in source_dirs %}
                <option value="{{ dir }}" {% if dir == selected_source_dir %}selected{% endif %}>
                    {{ dir }}
                </option>
            {% endfor %}
        </select>
        <br><br>
        <label for="target_dir"><h3>Target Directory:</h3></label>
        <select name="selected_target_dir" id="target_dir" onchange="checkAndSubmit()">
            <option value="">-- Select Target Directory --</option>
            {% for dir in target_dirs %}
                <option value="{{ dir }}" {% if dir == selected_target_dir %}selected{% endif %}>
                    {{ dir }}
                </option>
            {% endfor %}
        </select>
        <br><br>
        {% if selected_source_dir %}
            <h2>Select Files or Directories to HardLink:</h2>
            <ul>
                {% for item in items %}
                    <li>
                        <input type="checkbox" name="selected_items" value="{{ item }}" id="item_{{ loop.index0 }}">
                        <label for="item_{{ loop.index0 }}">{{ item }}</label>
                    </li>
                {% endfor %}
            </ul>
            <input type="hidden" name="selected_source_dir" value="{{ selected_source_dir }}">
            <input type="hidden" name="selected_target_dir" value="{{ selected_target_dir }}">
            <div style="display: flex; justify-content: center;">
                <div class="button_group">
                    <input type="hidden" name="link_type" id="link_type">
                    <button id=hardlink_button type="submit" formaction="" formmethod="post" onclick="setLinkType('hard')">Hard Link PROTOTYPE RESTYLE</button>
                    <button id=symboliclink_button type="submit" formaction="" formmethod="post" onclick="setLinkType('symbolic')">Symbolic Link PROTOTYPE RESTYLE</button>
                </div>
            </div>
        {% endif %}
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message|safe }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <script>
        function checkAndSubmit() {
          const source = document.getElementById('source_dir').value;
          const target = document.getElementById('target_dir').value;
  
          if (source && target) {
            document.forms[0].submit();
          }
        }
      </script>
{% endblock %}
